@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white overflow-x-hidden;
  }
}

.glass-card {
  @apply bg-white/5 backdrop-blur-md border border-white/5;
}
